
<article id="wallet">
  <header class="jumbotron">
    <h1>Your Wallet</h1>
    <p class="total">Grand total:</p>
    <p class="total-value">{{getTotal() | currency : '' }}</p>
  </header>
  <h2>Make a Transaction</h2>
  <form name="walletForm" role="form">
    <p>
      <input id="trans-value" type="number" required="required" min="0" ng-model="transAmount"/><a id="trans-add" href="#" ng-click="addAmount(walletForm, transAmount)">Add</a><a id="trans-remove" href="#" ng-click="removeAmount(walletForm,transAmount)">Remove</a>
    </p>
    <div ng-show="walletForm.$invalid" class="errors">
      <p ng-show="walletForm.$error.required" class="error">Please enter an amount</p>
      <p ng-show="walletForm.$dirty &amp;&amp; walletForm.$error.min" class="error">You must enter a positive amount</p>
      <p ng-show="walletForm.$dirty &amp;&amp; walletForm.$error.number" class="error">The value must be a number</p>
    </div>
  </form>
  <h2>Previous Transactions</h2>
  <div id="transactions">
    <p ng-show="!items.length" class="no-items">There are no transactions yet</p>
    <table ng-show="items.length" class="trans-list">
      <tr>
        <th>Date</th>
        <th>Amount</th>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{item.date | date}}</td>
        <td ng-class="{negative: item.amount&lt;0}">{{item.amount | currency : '£' }}</td>
      </tr>
    </table>
  </div>
</article>