article#wallet
  header.jumbotron
    h1 Your Wallet
    p.total Grand total:
    h2.total-value #[i.fa.fa-gbp] {{getTotal() | currency : '' }}
  h2 Make a Transaction
  form(name='walletForm',role="form")
    div.input-group.input-group-lg
      span.input-group-addon £
      input#trans-value.form-control(type='number',required,min='0',ng-model='transAmount',placeholder='0.00')
      span.input-group-btn
        button#trans-add.btn.btn-default(ng-click='addAmount(walletForm, transAmount)') Add
        button#trans-remove.btn.btn-default(ng-click='removeAmount(walletForm,transAmount)') Remove
    div.errors(ng-show="walletForm.$invalid")
      p.alert.alert-danger(ng-show="walletForm.$error.required") Please enter an amount
      p.alert.alert-danger(ng-show="walletForm.$dirty && walletForm.$error.min") You must enter a positive amount
      p.alert.alert-danger(ng-show="walletForm.$dirty && walletForm.$error.number") The value must be a number
      p.alert.alert-danger(ng-show="walletForm.$dirty && walletForm.$error.negativeTotal") You cannot have a negative wallet total
  h2 Previous Transactions
  div#transactions
    p.no-items(ng-show='!items.length') There are no transactions yet
    table.table.trans-list(ng-show='items.length')
      tr
        th Date
        th Amount
      tr(ng-repeat='item in items')
        td {{item.date | date}}
        td(ng-class='{negative: item.amount<0}') {{item.amount | currency : '£' }}
