doctype html
html
  head
    title Wallet Demo App
  body
    article#layout(ng-app='walletApp')
      header
        h1 Wallet Demo
        div#menu(ng-include='partials/menu.html')
        div#page(ng-include='partials/wallet.html',ng-controller='walletController')
        footer &copy;2014 Peter Hurst
    script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js")
    script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js")
    script(type="text/javascript",src="scripts/project.js")
